<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="GenericProductInputInputSet"
    mode="money">
    <Require
      name="genericAttribute"
      type="entity.GenericAttributeMap_Ext"/>
    <Require
      name="coverable"
      type="GPGeneric_Ext"/>
    <Variable
      initialValue="new acc.pc.lob.gp.pageprocess.GenericProductInputInputSet(genericAttribute, coverable)"
      name="pageProcess"/>
    <Input
      editable="true"
      formatType="currency"
      id="moneyValueInput"
      label="pageProcess.name"
      required="pageProcess.required"
      value="pageProcess.moneyValue"/>
  </InputSet>
</PCF>