<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="GPGeneric_ExtPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="line"
      type="GPGenericLine_Ext"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <PanelRef>
      <TitleBar
        id="ListTitle"
        title="displaykey.Web.Policy.GP.GPGeneric_Ext.NamePlural"/>
      <Toolbar>
        <IteratorButtons
          addLabel="displaykey.Web.Generic.Add"
          iterator="CoverableLV"
          removeLabel="displaykey.Web.Generic.Remove"/>
        <ToolbarDivider/>
      </Toolbar>
      <ListDetailPanel
        id="CoverableListDetailPanel"
        selectionName="selectedItem"
        selectionType="GPGeneric_Ext">
        <ListViewPanel
          id="CoverableLV">
          <RowIterator
            editable="openForEdit"
            elementName="item"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toCreateAndAdd="line.createAndAddGPGeneric_Ext()"
            toRemove="line.removeGPGeneric_Ext(item)"
            type="GPGeneric_Ext"
            value="line.GPGenerics">
            <ToolbarFlag
              name="item"/>
            <Row>
              <Cell
                align="right"
                id="ItemID"
                label="displaykey.Web.Policy.GP.GPGeneric_Ext.ID"
                sortBy="item.FixedID"
                sortOrder="1"
                value="item.FixedId"
                width="80"/>
              <Cell
                align="left"
                id="CreateUser"
                label="displaykey.Web.Policy.GP.GPGeneric_Ext.CreatedBy"
                value="item.CreateUser.DisplayName"
                width="200"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel
          id="CoverableDetailsCV">
          <Card
            id="CoverableDetailCard"
            title="displaykey.Web.Policy.GP.GPGeneric_Ext.Details">
            <PanelRow>
              <PanelColumn>
                <PanelRef
                  def="GPGeneric_ExtDetailsDV(selectedItem, policyPeriod, line, openForEdit, jobWizardHelper)"/>
              </PanelColumn>
            </PanelRow>
          </Card>
          <Card
            id="CoveragesCard"
            title="displaykey.Web.Policy.Coverages">
            <PanelRef
              def="GPGeneric_ExtCoveragesDV(selectedItem, openForEdit)"
              visible="selectedItem != null"/>
          </Card>
          <Card
            id="AdditionalCoverages"
            title="displaykey.Web.LineWizard.AdditionalCoverages">
            <PanelRef
              def="AdditionalCoveragesPanelSet(selectedItem, new String[]{&quot;GPGenericAddGrp&quot;}, true)">
              <TitleBar
                title="displaykey.Web.LineWizard.AdditionalCoverages"/>
              <Toolbar/>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>
