<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="GPLine">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="line as GPGenericLine_Ext"
      name="gpline"/>
  </PanelSet>
</PCF>