<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingOverridePanelSet"
    mode="GPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Variable
      initialValue="period.GPLine"
      name="line"
      type="GPGenericLine_Ext"/>
    <Variable
      initialValue="new acc.pc.lob.gp.financials.GPQuoteDisplayUtil(line, true)"
      name="quoteDisplayUtil"/>
    <Variable
      initialValue="quoteDisplayUtil.getCoverablesWithCostsByType()"
      name="cblByType"/>
    <Variable
      initialValue="quoteDisplayUtil.getCostsByCoverable()"
      name="costsByCbl"/>
    <Variable
      initialValue="costsByCbl.get(line)"
      name="lineLevelCosts"/>
    <Variable
      initialValue="CurrentLocation.InEditMode"
      name="isEditable"/>
    <Variable
      initialValue="period.EditEffectiveDate"
      name="jobEffDate"/>
    <Variable
      initialValue="period.PreferredSettlementCurrency"
      name="prefCurrency"
      type="Currency"/>
    <PanelIterator
      elementName="cblType"
      id="cblTypeIterator"
      value="cblByType.Keys.where( \ t -&gt; t != productmodel.GPLine)">
      <IteratorSort
        sortBy="cblType.toString()"
        sortOrder="1"/>
      <PanelIterator
        elementName="cbl"
        id="cblIterator"
        value="cblByType.get(cblType)">
        <IteratorSort
          sortBy="cbl.FixedId"
          sortOrder="1"/>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="quoteDisplayUtil.CoverableDisplayName(cbl)"/>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <ListViewInput
              def="GPRatingOverrideCostLV(costsByCbl.get(cbl), quoteDisplayUtil, isEditable, jobEffDate, prefCurrency)">
              <Toolbar/>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelIterator>
    </PanelIterator>
    <DetailViewPanel
      visible="lineLevelCosts.Count&gt;0">
      <InputColumn>
        <Label
          label="displaykey.Web.Policy.GP.Financials.LineLevelPremiums"/>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel
      visible="lineLevelCosts.Count&gt;0">
      <InputColumn>
        <ListViewInput
          def="GPRatingOverrideCostLV(lineLevelCosts, quoteDisplayUtil, isEditable, jobEffDate, prefCurrency)">
          <Toolbar/>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>