<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="GPLine">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.GPLine"
      name="line"
      type="GPGenericLine_Ext"/>
    <Variable
      initialValue="new acc.pc.lob.gp.financials.GPQuoteDisplayUtil(line, false)"
      name="quoteDisplayUtil"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="quoteDisplayUtil.getCoverablesWithTrxnsByType()"
      name="cblByType"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="quoteDisplayUtil.getTrxnsByCoverable()"
      name="trxnsByCbl"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="trxnsByCbl.get(line)"
      name="lineLevelTrxns"
      recalculateOnRefresh="true"/>
    <PanelIterator
      elementName="cblType"
      id="cblTypeIterator"
      value="cblByType.Keys.where( \ t -&gt; t != productmodel.GPLine)">
      <IteratorSort
        sortBy="cblType.toString()"
        sortOrder="1"/>
      <PanelIterator
        elementName="cbl"
        id="cblIterator"
        value="cblByType.get(cblType)">
        <Variable
          initialValue="trxnsByCbl.get(cbl)"
          name="cblTrxns"
          recalculateOnRefresh="true"/>
        <IteratorSort
          sortBy="cbl.FixedId"
          sortOrder="1"/>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="quoteDisplayUtil.CoverableDisplayName(cbl)"/>
          </InputColumn>
        </DetailViewPanel>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="trxn"
            id="cblRowIterator"
            pageSize="0"
            value="cblTrxns">
            <IteratorSort
              sortBy="quoteDisplayUtil.CostDisplayName(trxn.GPCost_Ext)"
              sortOrder="1"/>
            <IteratorSort
              sortBy="trxn.EffDate"
              sortOrder="2"/>
            <IteratorSort
              sortBy="trxn.Cost.ID"
              sortOrder="3"/>
            <Row>
              <Cell
                footerLabel="displaykey.Web.Financials.Subtotal"
                id="descriptionCell"
                label="displaykey.Web.Policy.GP.Financials.Description"
                value="quoteDisplayUtil.CostDisplayName(trxn.GPCost_Ext)"/>
              <Cell
                id="costAdjRate"
                label="displaykey.Web.Policy.GP.Financials.Rate"
                value="trxn.Cost.ActualAdjRate"/>
              <Cell
                id="costBasis"
                label="displaykey.Web.Policy.GP.Financials.Basis"
                value="trxn.Cost.Basis"/>
              <MonetaryAmountCell
                formatType="currency"
                id="costTermAmount"
                label="displaykey.Web.Policy.GP.Financials.TermAmount"
                value="trxn.Cost.ActualTermAmountBilling"/>
              <Cell
                id="trxnEffDate"
                label="displaykey.Web.Policy.GP.Financials.EffDate"
                value="trxn.EffDate"/>
              <Cell
                id="trxnExpDate"
                label="displaykey.Web.Policy.GP.Financials.ExpDate"
                value="trxn.ExpDate"/>
              <Cell
                align="right"
                id="trxnProration"
                label="displaykey.Web.Policy.GP.Financials.Proration"
                value="gw.api.util.StringUtil.formatNumber(trxn.Proration, &quot;#0.0000&quot;)"/>
              <MonetaryAmountCell
                formatType="currency"
                id="trxnAmount"
                label="displaykey.Web.Policy.GP.Financials.Amount"
                value="trxn.AmountBilling">
                <ColumnFooter>
                  <TextCell
                    formatType="currency"
                    id="CblSubTotal"
                    value="cblTrxns.AmountSum(thePeriod.PreferredSettlementCurrency)"/>
                </ColumnFooter>
              </MonetaryAmountCell>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelIterator>
    </PanelIterator>
    <DetailViewPanel
      visible="lineLevelTrxns.Count&gt;0">
      <InputColumn>
        <Label
          label="displaykey.Web.Policy.GP.Financials.LineLevelPremiums"/>
      </InputColumn>
    </DetailViewPanel>
    <ListViewPanel
      visible="lineLevelTrxns.Count&gt;0">
      <RowIterator
        editable="false"
        elementName="trxn"
        id="lineTrxnsIterator"
        pageSize="0"
        value="lineLevelTrxns">
        <IteratorSort
          sortBy="quoteDisplayUtil.CostDisplayName(trxn.GPCost_Ext)"
          sortOrder="1"/>
        <IteratorSort
          sortBy="trxn.Cost.EffDate"
          sortOrder="2"/>
        <IteratorSort
          sortBy="trxn.Cost.ID"
          sortOrder="3"/>
        <Row>
          <Cell
            footerLabel="displaykey.Web.Financials.Subtotal"
            id="descriptionCell"
            label="displaykey.Web.Policy.GP.Financials.Description"
            value="quoteDisplayUtil.CostDisplayName(trxn.GPCost_Ext)"
            width="400"
            wrap="true"/>
          <Cell
            id="costAdjRate"
            label="displaykey.Web.Policy.GP.Financials.Rate"
            value="trxn.Cost.ActualAdjRate"/>
          <Cell
            id="costBasis"
            label="displaykey.Web.Policy.GP.Financials.Basis"
            value="trxn.Cost.Basis"/>
          <MonetaryAmountCell
            formatType="currency"
            id="costTermAmount"
            label="displaykey.Web.Policy.GP.Financials.TermAmount"
            value="trxn.Cost.ActualTermAmountBilling"/>
          <Cell
            id="trxnEffDate"
            label="displaykey.Web.Policy.GP.Financials.EffDate"
            value="trxn.EffDate"/>
          <Cell
            id="trxnExpDate"
            label="displaykey.Web.Policy.GP.Financials.ExpDate"
            value="trxn.ExpDate"/>
          <Cell
            align="right"
            id="trxnProration"
            label="displaykey.Web.Policy.GP.Financials.Proration"
            value="gw.api.util.StringUtil.formatNumber(trxn.Proration, &quot;#0.0000&quot;)"/>
          <MonetaryAmountCell
            formatType="currency"
            id="trxnAmount"
            label="displaykey.Web.Policy.GP.Financials.Amount"
            value="trxn.AmountBilling">
            <ColumnFooter>
              <TextCell
                formatType="currency"
                id="LineSubTotal"
                value="lineLevelTrxns.AmountSum(thePeriod.PreferredSettlementCurrency)"/>
            </ColumnFooter>
          </MonetaryAmountCell>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </PanelSet>
</PCF>