<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="GPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.GPLine"
      name="line"
      type="GPGenericLine_Ext"/>
    <Variable
      initialValue="new acc.pc.lob.gp.financials.GPQuoteDisplayUtil(line, true)"
      name="quoteDisplayUtil"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="quoteDisplayUtil.getCoverablesWithCostsByType()"
      name="cblByType"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="quoteDisplayUtil.getCostsByCoverable()"
      name="costsByCbl"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="costsByCbl.get(line)"
      name="lineLevelCosts"
      recalculateOnRefresh="true"/>
    <PanelRef
      def="RatingOverrideButtonDV(period, line, jobWizardHelper, CurrentLocation.InEditMode)"
      id="RatingOverrideButtonDV"/>
    <PanelIterator
      elementName="cblType"
      id="cblTypeIterator"
      value="cblByType.Keys.where( \ t -&gt; t != productmodel.GPLine)">
      <IteratorSort
        sortBy="cblType.toString()"
        sortOrder="1"/>
      <PanelIterator
        elementName="cbl"
        id="cblIterator"
        value="cblByType.get(cblType)">
        <Variable
          initialValue="costsByCbl.get(cbl)"
          name="cblCosts"
          recalculateOnRefresh="true"/>
        <IteratorSort
          sortBy="cbl.FixedId"
          sortOrder="1"/>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="quoteDisplayUtil.CoverableDisplayName(cbl)"/>
          </InputColumn>
        </DetailViewPanel>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="cost"
            id="cblRowIterator"
            pageSize="0"
            value="cblCosts">
            <IteratorSort
              sortBy="quoteDisplayUtil.CostDisplayName(cost)"
              sortOrder="1"/>
            <IteratorSort
              sortBy="cost.EffDate"
              sortOrder="2"/>
            <Row>
              <Cell
                footerLabel="displaykey.Web.Financials.Subtotal"
                id="descriptionCell"
                label="displaykey.Web.Policy.GP.Financials.Description"
                value="quoteDisplayUtil.CostDisplayName(cost)"/>
              <Cell
                id="costAdjRate"
                label="displaykey.Web.Policy.GP.Financials.Rate"
                value="cost.ActualAdjRate"/>
              <Cell
                id="costBasis"
                label="displaykey.Web.Policy.GP.Financials.Basis"
                value="cost.Basis"/>
              <MonetaryAmountCell
                formatType="currency"
                id="costTermAmount"
                label="displaykey.Web.Policy.GP.Financials.TermAmount"
                value="cost.ActualTermAmountBilling"/>
              <Cell
                id="costEffDate"
                label="displaykey.Web.Policy.GP.Financials.EffDate"
                value="cost.EffDate"/>
              <Cell
                id="costExpDate"
                label="displaykey.Web.Policy.GP.Financials.ExpDate"
                value="cost.ExpDate"/>
              <Cell
                align="right"
                id="costProration"
                label="displaykey.Web.Policy.GP.Financials.Proration"
                value="gw.api.util.StringUtil.formatNumber(cost.Proration, &quot;#0.0000&quot;)"/>
              <MonetaryAmountCell
                formatType="currency"
                id="costAmount"
                label="displaykey.Web.Policy.GP.Financials.Amount"
                value="cost.ActualAmountBilling">
                <ColumnFooter>
                  <TextCell
                    formatType="currency"
                    id="CblSubTotal"
                    value="cblCosts.AmountSum(period.PreferredSettlementCurrency)"/>
                </ColumnFooter>
              </MonetaryAmountCell>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelIterator>
    </PanelIterator>
    <DetailViewPanel
      visible="lineLevelCosts.Count&gt;0">
      <InputColumn>
        <Label
          label="displaykey.Web.Policy.GP.Financials.LineLevelPremiums"/>
      </InputColumn>
    </DetailViewPanel>
    <ListViewPanel
      visible="lineLevelCosts.Count&gt;0">
      <RowIterator
        editable="false"
        elementName="cost"
        id="lineCostsIterator"
        pageSize="0"
        value="lineLevelCosts">
        <IteratorSort
          sortBy="quoteDisplayUtil.CostDisplayName(cost)"
          sortOrder="1"/>
        <IteratorSort
          sortBy="cost.EffDate"
          sortOrder="2"/>
        <Row>
          <Cell
            footerLabel="displaykey.Web.Financials.Subtotal"
            id="descriptionCell"
            label="displaykey.Web.Policy.GP.Financials.Description"
            value="quoteDisplayUtil.CostDisplayName(cost)"/>
          <Cell
            id="costAdjRate"
            label="displaykey.Web.Policy.GP.Financials.Rate"
            value="cost.ActualAdjRate"/>
          <Cell
            id="costBasis"
            label="displaykey.Web.Policy.GP.Financials.Basis"
            value="cost.Basis"/>
          <MonetaryAmountCell
            formatType="currency"
            id="costTermAmount"
            label="displaykey.Web.Policy.GP.Financials.TermAmount"
            value="cost.ActualTermAmountBilling"/>
          <Cell
            id="costEffDate"
            label="displaykey.Web.Policy.GP.Financials.EffDate"
            value="cost.EffDate"/>
          <Cell
            id="costExpDate"
            label="displaykey.Web.Policy.GP.Financials.ExpDate"
            value="cost.ExpDate"/>
          <Cell
            align="right"
            id="costProration"
            label="displaykey.Web.Policy.GP.Financials.Proration"
            value="gw.api.util.StringUtil.formatNumber(cost.Proration, &quot;#0.0000&quot;)"/>
          <MonetaryAmountCell
            formatType="currency"
            id="costAmount"
            label="displaykey.Web.Policy.GP.Financials.Amount"
            value="cost.ActualAmountBilling">
            <ColumnFooter>
              <TextCell
                formatType="currency"
                id="CblSubTotal"
                value="lineLevelCosts.AmountSum(period.PreferredSettlementCurrency)"/>
            </ColumnFooter>
          </MonetaryAmountCell>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </PanelSet>
</PCF>