<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails"
    id="PolicyFile_GPGeneric_Ext"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.Policy.GP.GPGeneric_Ext.NamePlural">
    <LocationEntryPoint
      signature="PolicyFile_GPGeneric_Ext(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Screen
      id="PolicyFile_GPGeneric_ExtScreen">
      <TitleBar/>
      <Toolbar/>
      <PanelRef
        def="GPGeneric_ExtPanelSet(policyPeriod, policyPeriod.GPLine, false, null)"/>
    </Screen>
  </Page>
</PCF>